.blogmainimg{
    height: 500px;
    width: 800px;
}


.mainBlogdiv{
display: flex;
justify-content: center;
}

.postTiltle{
    color: silver;
    font-size: 2rem;
    text-align: center;
}

.mainBlogImg{
    height: 50vh;
    width: 100%;
    resize: contain;
}

.mainPostHeading{
    color: blue;
    font-size: 1.5rem;
    text-align: center;
}


.content{
    width: 70vw;
    color: blue;
    font-size: 1rem;
    text-align: justify;
}

.exportlogo{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;

}

.exportlogodiv{
    display: flex;
    align-items: center;
    justify-content: end;

}

.exportText{
    color: #0000ff;
    font: size 1.5rem;
    cursor: pointer;


}


.postcode{
    color: gray;
}

.postHeading{
    color: orange;
}


.postSubhead{
    color: greenyellow;
}   

.postText{
    color: beige;
}

.postImg{
    /* display: flex; */

}