.inputBoxNav{
        font-size: 1.15rem;
    background-color: transparent;
    color: blue;
    border:0.1px solid blue;
    padding: 0;
    border-radius: 20px;
    padding-left:1rem;
    align-items: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    /* width: 50%; */
}

.inputBoxNav::placeholder{
    font-size: 1rem;
    color: blue;    
}

.inputBoxNav:focus {
    outline: none;
    border-color: #0044cc; 
}

.postNameInput{
    background-color: transparent;
    border-radius: 10px;
}